@import "~normalize.css";
@import "fonts/fonts";

:root {
  --main-background-color: #251D1A;
  --main-text-color: #EFE7E2;
  --additional-text-color: #B7AAA2;
  --additional-background-color: #3B322D;
  --main-front-color: #FF6E40;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
